{% extends "site_base.j2" %}

{% block extra_head %}
    {{ super() }}
    <link href="/feeds/{{ bundle.key }}/atom.xml" type="application/atom+xml" rel="alternate" title="www.ironfroggy.com/feeds/{{ bundle.key }} ATOM feed" />
{% endblock %}

{% block header_right %}
    {% if bundle.meta.title %}
        <h1 class=title>{{ bundle.meta.title|title }}</h1>
    {% else %}
        <h1 class=title><em>{{ bundle.value }}</em> tagged content</h1>
    {% endif %}
    <a href="/feeds/{{ bundle.key }}/atom.xml"><img src="/images/rss_icon.png" /></a>
{% endblock %}

{% block content %}
    {% for bundle in bundle.get_bundles_by("title", "desc", status="published") %}
        <article class=tease>
            <h3><a href="{{ bundle.url() }}">{{ bundle.meta.title|title }}</a></h3>
            <h4>{{ bundle.meta.publish_time }}
            {% if bundle.tags %}
            <span class=tags>
            {% for tag in bundle.tags %}
                {{ tag }}{% if not loop.last %}, {% endif %}
            {% endfor %}
            </span>
            {% endif %}
            </h4>
            {{ bundle.content|truncate(255)|safe }}
        </article>
    {% endfor %}
{% endblock %}
