{% extends "site_base.j2" %}

{% block header_right %}
    {% if bundle.meta.link_to %}
        <h1 class="title title-link"><a href="{{ bundle.meta.link_to }}" target="_new">{{ bundle.meta.title|title  }} <span class="glyph general">u</span></a></h1>
    {% else %}
        <h1 class=title>{{ bundle.meta.title|title  }}</h1>
    {% endif %}
    {% if bundle.meta.subtitle %}
        <h3>{{ bundle.meta.subtitle }}</h3>
    {% endif %}
    <h4>{{ bundle.publish_time }}
    {% if bundle.updated_time and bundle.updated_time != bundle.publish_time %}
        , updated {{ bundle.updated_time }}
    {% endif %}
    </h4>
{% endblock %}

{% block mid_column %}
    {% if bundle.meta.publish_time %}
        <h4>Published {{ bundle.meta.publish_time.strftime('%Y/%m/%d') }}</h4>
    {% endif %}
    {% if bundle.meta.updated_time and bundle.meta.updated_time.strftime('%Y/%m/%d') != bundle.meta.publish_time.strftime('%Y/%m/%d') %}
        <h4>Updated {{ bundle.meta.updated_time.strftime('%Y/%m/%d') }}</h4>
    {% endif %}
    {% if bundle.meta['collections'].get('tags') %}
        <h3>Tags</h3>
        <ul class=list>
        {% for tag in bundle.meta['collections'].get('tags', {}) %}
            <li class=feed><a href="{{ tag.url() }}">{{ tag.value }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block content %}
    <article>
        {{ bundle.content|safe }}
    </article>

    {% if config.disqus and config.disqus.enabled_default and not bundle.meta.disqus_disable %}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'wwwironfroggycom'; // required: replace example with your forum shortname
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    {% endif %}
{% endblock %}
