{% extends "site_base.j2" %}

{% block header_right %}
    <h1>Recent Updates</h1>
{% endblock %}

{% block mid_column %}
    <h3>Who am I?</h3>
    <ul class=list>
        <li>Someone with a website
    </ul>
    <h3>Other places online</h3>
    <ul class=list>
        <li><a href="http://twitter.com/">Twitter</a>
            <em class=list-extra>Ramblings and tweets both technical and personal</em>
    </ul>
{% endblock %}

{% block content %}
    {% for bundle in engine.get_bundles_by("publish_time", "desc", status="published") %}
        <article class=tease>
            <h3><a href="{{ bundle.url() }}">{{ bundle.meta.title|title }}</a></h3>
            <h4>{{ bundle.meta.publish_time }}
            {% if bundle.tags %}
            <span class=tags>
            {% for tag in bundle.tags %}
                {{ tag }}{% if not loop.last %}, {% endif %}
            {% endfor %}
            </span>
            {% endif %}
            </h4>
            {{ bundle.content|truncate(1000)|safe }}
        </article>
    {% endfor %}
{% endblock %}
