{% extends "base.j2" %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="/css/pygments.css">
    <link rel="stylesheet/less" type="text/css" href="/css/site.less">
    <script type="text/javascript" src="/js/less-1.3.0.min.js"></script>
    <link href="http://{{ config.domain }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ config.title }} ATOM feed" />
{% endblock %}

{% block header %}
    <div class=col-50>
        <h1><a href="/">{{ config.title }}</a></h1>
        {% if config.subtitle %}
            <h3>{{ config.subtitle }}</h3>
        {% endif %}
    </div>
    <div class=col-50>
        {% block header_right %}
        {% endblock %}
    </div>
    <div style="clear: both;">
    </div>
{% endblock %}

{% block main %}

    <div class=left-column>
        <h3>Posts</h3>
        <ul class=list>
        {% for bundle in engine.get_bundles_by("publish_time", "desc", 5, status="published") %}
            <li>
                <a href="{{ bundle.url() }}">{{ bundle.meta.title }}</a><br />
                <em class=list-extra>{{ bundle.meta.publish_time }}</em>
            </li>
        {% endfor %}
        </ul>

        <h3>Tags</h3>
        <ul class=list>
        {% for tag in collections['tags'] %}
            {% if tag.active %}
                <li><a href="{{ tag.url() }}"> {{ tag.value }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>

    <div class=mid-column>
        {% block mid_column %}
            &nbsp;
        {% endblock %}
    </div>

    <div class=right-column>
        {% block content %}
        {% endblock %}
    </div>

{% endblock %}

{% block footer %}
    copyright 2012
{% endblock %}
