{% extends "base.j2" %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ config.domain }}/css/pygments.css">
    <link rel="stylesheet/less" type="text/css" href="{{ config.domain }}/css/site.less">
    <script type="text/javascript" src="{{ config.domain }}/js/less-1.3.0.min.js"></script>
    <link href="http://{{ config.domain }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ config.title }} ATOM feed" />
{% endblock %}

{% block header %}
    <h1><a href="/">{{ bundle.meta.title|default(config.title) }}</a></h1>
{% endblock %}

{% block main %}

    <div class=left-column>
        <ul class=list>
        {% for bundle in engine.get_bundles_by("order", "asc") %}
            <li>
                <a href="{{ bundle.url() }}">{{ bundle.meta.title }}</a><br />
            </li>
        {% endfor %}
        </ul>
    </div>

    <div class=right-column>
        {% block content %}
        {% endblock %}
    </div>

{% endblock %}

{% block footer %}
    copyright 2013 Calvin Spealman
{% endblock %}
